# This is the zc.buildout configuration
# For more information on managing your Plone instance using buildout please
# see http://plone.org/documentation/tutorial/buildout

[buildout]
extends = base.cfg
eggs =
develop =

[productdistros]
urls =
nested-packages =
version-suffix-packages =

[instance]
eggs =
    ${buildout:eggs}
    ${plone:eggs}
zcml =
