[buildout]
develop = .
parts = test
        PasteScript

[PasteScript]
recipe = zc.recipe.egg:scripts
eggs = PasteScript
       ZopeSkel

[test]
recipe = zc.recipe.testrunner
eggs = ZopeSkel 
defaults = ['-s', 'zopeskel']
