[buildout]
extensions = 
    mr.developer
    buildout.dumppickedversions

sources = sources
versions = versions
auto-checkout = *
always-checkout = True
develop += .

parts = 
    zopeskel
    templer
    test
    

[sources]
templer.core = svn https://svn.plone.org/svn/collective/templer.core/trunk
templer.buildout = svn https://svn.plone.org/svn/collective/templer.buildout/trunk
templer.zope = svn https://svn.plone.org/svn/collective/templer.zope/trunk
templer.plone = svn https://svn.plone.org/svn/collective/templer.plone/trunk

[versions]
Cheetah = 2.2.1

[zopeskel]
recipe = zc.recipe.egg

[templer]
recipe = zc.recipe.egg
eggs = 
    PasteScript
    templer.core
    templer.buildout
    templer.zope
    templer.plone

[test]
recipe = zc.recipe.testrunner
eggs = 
    templer.core[test]
    templer.buildout[test]
    templer.zope[test]
    templer.plone[test]
