[buildout]
parts = zopeskel test paster
develop = . 
versions = versions

[versions]
Cheetah = 2.2.1

[zopeskel]
recipe = zc.recipe.egg

[paster]
recipe = zc.recipe.egg
eggs = PasteScript
       Cheetah
       zopeskel
       templer.core

[test]
recipe = zc.recipe.testrunner
eggs = 
    zopeskel[test]
    templer.core[test]
